@inherits UmbracoTemplatePage

<h3>Contact</h3>
<p>
    <strong>
        @Umbraco.Field("#Voorzitter")
    </strong>
</p>
<p>
    <a href="mailto:raymond.gevaert@fipf.org">Raymond Gevaert</a>
</p><br/>
<p>
    <strong>
        @Umbraco.Field("#Studiedag")
    </strong>
</p>
<p>
    <!-- Ann Scheiris<br/>
    Céline Eeckhout-->

    Elisabeth Daeninck
</p>
<p>
    <a href="mailto:bvlf.studiedag@gmail.com">bvlf.studiedag@gmail.com</a>
</p><br/>
<p>
    <strong>
        @Umbraco.Field("#AlgemeenSecretariaat")
    </strong>
</p>
<p>
    <a href="mailto:vzw_bvlf@hotmail.com">Daniel Leroy</a>
</p><br/>
<p>
    <strong>
        @Umbraco.Field("#Penningmeester")
    </strong>
</p>
<p>
    <a href="mailto:giedocus@scarlet.be">Giedo Custers</a>
</p><br/>
<p>
    <strong>
        @Umbraco.Field("#Sponsoring")
    </strong>
</p>
<p>
    <a href="mailto:jacqueseichperger@hotmail.com">jacqueseichperger@hotmail.com</a>
</p>